:root {
    --white: white;
    --black: black;
    --button-darkgray: darkgray;
    --button-gray_d: #dddddd;
    --button-gray_e: #eeeeee;
    --gray_a: #aaaaaa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: lightgray;
        --white: black;
        --black: white;
        --button-darkgray: #565656;
        --button-gray_d: #222222;
        --button-gray_e: #111111;
        --gray_a: #555555;
    }

    body {
        background: black;
    }

    * {
        color: var(--text-color);
    }

    svg {
        background: gray;
    }
}

.main_div {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main_div > svg {
    margin: auto;
}

textarea {
    border: 3px solid black;

    @media (prefers-color-scheme: dark) {
        border-color: lightgray;
    }
}


.error_label {
    width: 100%;
}


.extra_container {
    display: flex;
    flex-direction: column;
}

.extra_container > * {
    width: 100%;
}

.buttons, .fields {
    display: flex;
}

.buttons > * {
    flex: 1;
}

.fields {
    flex-direction: column;
}

.fields > * {
    width: 100%;
    padding: 8px;
    border: 3px solid var(--gray_a);
}

.fields input{
    height: 1.5em;
    @media (prefers-color-scheme: dark) {
        color: black;
    }

}
.fields > div > * {
    @media (prefers-color-scheme: dark) {
        /*color: ;*/
    }
}

.generate_button, .download_button, .base-button {
    padding: 8px;
    background: var(--button-gray_e);
    border: 3px var(--button-darkgray) solid;
}

.generate_button:hover, .download_button:hover, .base-button:hover {
    background: var(--button-gray_d);
}

.generate_button:active, .download_button:active, .base-button:active {
    color: var(--button-gray_d);
    background: var(--button-darkgray);
    border-color: var(--button-gray_d);
}

.input_area {
    line-height: 1;
    width: 100%;
    /*padding: 1px 2px 2px;*/
    display: block;
    resize: vertical;
}

.cursor {
    width: 0px;
    height: 1em;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    overflow: visible;
}

:root {
    --cursor-blink: 1
}

.cursor > * {
    margin: 0;
    /*width: 1px;*/
    border-left: 1px solid black;
    @media (prefers-color-scheme: dark) {
        border-color: white;
    }
    height: 1em;
    display: inline-block;
    opacity: var(--cursor-blink);
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.text-area-selection > span {
    /*height: 1.2em;*/

}

.text-area-selection {
    position: absolute;
    padding: 4px;
    z-index: -1;
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: scroll;
}

.svg_container {
    display: flex;
}

.svg_container > svg {
    margin: auto;
    border: 3px solid black;

    @media (prefers-color-scheme: dark) {
        border-color: gray;
    }
}
/*region save block*/
.save-container{

}
.save-entry{
    border-bottom: solid 4px var(--button-darkgray);
}

.save-entry:last-child{
    border-bottom: none;
}
.save-entry{
    padding: 8px 0 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.save-entry >:first-child{
    flex: 1;
    margin-right: 8px;
}
/*endregion*/