

.main_div{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.main_div>svg{
    margin: auto;
}
textarea{
    border: 3px solid black;
}
.error_label{
    width: 100%;
}
.buttons{
    display: flex;
}
.generate_button,.download_button{
    padding: 8px;
    background: #eeeeee;
    border: 2px darkgray solid;
}
.generate_button:hover,.download_button:hover{

    background: gray;
    border: 2px darkgray solid;
}
.generate_button:active,.download_button:active{
    background: darkgray;
    color: white;
    border: 2px #eeeeee solid;
}
.token-GraphName{
    color: blue;
}
.token-Error{
    color: red;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: darkred ;
}
.token-Title{
    color: green;
}

.cursor{
    width: 1px;
    background: black;
    color: black;
    height: 1em;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    transition-timing-function: steps(1);

}
.text-area-selection {
    position:absolute;
    padding:2px;
    z-index:-1;
    display:block;
    word-wrap:break-word;
    white-space:pre-wrap;
    color:black;
    overflow:scroll;
}

.text-color-bordered {
    color: greenyellow;
    border-bottom:1px dotted red;
}