
.textarea-container {
    position: relative;
    border: 4px solid black;

    @media (prefers-color-scheme: dark) {
        border-color: lightgray;
    }
}

textarea {
    /*border: 4px solid black;*/

}
/*.textarea-container-container{
    width: 100%;
    overflow: scroll;
}*/
.textarea-container>*{
    font: 16px "JetBrains Mono", monospace;
    line-height: 1.2em;
}
.input_area{
    width: 100%;

    display: block;
    resize: vertical;
    white-space: nowrap;
}

.editor-highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*padding: 4px;*/
    z-index: -1;
    display: block;
    overflow: scroll;
}
.editor-highlight>div{
    width: fit-content;
    height: fit-content;
}
.error_label {
    width: 100%;
}
.cursor {
    width: 0;
    height: 1em;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    overflow: visible;
}

:root {
    --cursor-blink: 1
}

.cursor > * {
    margin: 0;
    /*width: 1px;*/
    border-left: 1px solid black;
    @media (prefers-color-scheme: dark) {
        border-color: white;
    }
    height: 1em;
    display: inline-block;
    opacity: var(--cursor-blink);
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
